cache
!cache/.gitkeep
output
!output/.gitkeep
*.pyc
__pycache__/
notebooks
configs/local.yaml
wandb
slurm_output
hi.png
Hydration_Slurmm
train.ipynb
training_slurmm.py
training_slurmm_ai_sim.py
trained_models
energy.txt
Hydration_Slurmm
freesolv
yank_files/yank_output_slurmm
yank_files/yank_output_slurmm_v2
yank_files/yank_output_slurmm_v3
yank-gbn2.csv
gbsa_calculations
